/* TODO! Why the fuck is this here */
/* as of 12/09/25, idk why is this todo here anymore */
.font-kode-mono {
	font-family: "Kode Mono", monospace;
	font-optical-sizing: auto;
}

.font-ibm-plex-mono {
	font-family: "IBM Plex Mono", monospace;
}
